# Dependências
node_modules
bun.lockb

# Build output
dist
.angular

# Testes
coverage
*.spec.ts

# IDE
.vscode
.idea
*.swp
*.swo

# Git
.git
.gitignore

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Temporários
.tmp
.temp
*.tmp

# Sistema Operacional
.DS_Store
Thumbs.db

# Ambiente
.env
.env.local
.env.*.local

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentação
README.md
CHANGELOG.md
LICENSE
